dotenv 
prompt_toolkit 
langchain 
langgraph 
fastapi 
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib 
pydantic 
rich 
PyYAML 
uvicorn 
langchain_community 
langchain_ollama 
tavily 
faiss-cpu
PyInstaller
pypdf
websockets